<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Lessons</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lesson_styles.css' %}">
</head>
<body>
    <header>
        <a href="/">Home</a>
    </header>
    <div class="container">
        <h1>All Lessons</h1>
        <ul>
            {% for lesson in lessons %}
                <li>
                    {{ lesson.course.name }}: <a href="{% url 'lesson_detail' course_id=lesson.course.id lesson_id=lesson.id %}">{{ lesson.title }}</a>
                    {% if lesson.id in completed_lessons %}
                        <span class="completed">Completed</span>
                    {% else %}
                        <span class="not-completed">Not Completed</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="button-container">
            <a href="{% url 'courses_list' %}" class="back-link">Back to Courses</a>
        </div>
    </div>
</body>
</html>
