<!-- course_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'course_styles.css' %}">
</head>
<body>
    <header>
        <a href="/">Home</a>
    </header>
    <div class="container">
        <h1>{{ course.name }}</h1>
        <p><strong>Description:</strong> {{ course.description }}</p>
        <p><strong>Difficulty Level:</strong> {{ course.difficulty_level }}</p>
        <p><strong>Duration:</strong> {{ course.duration }} days</p>
        <p><strong>Topic:</strong> {{ course.topic }}</p>
    </div>

    <div class="btn-container">
        {% if enrollment %}
            <a href="{% url 'lesson_list' course_id=course.id %}" class="btn">Go to Lessons</a>
        {% else %}
            <a href="{% url 'enroll_course' course_id=course.id %}" class="btn">Enroll in Course</a>
        {% endif %}
    </div>
</body>
</html>
