body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #25274D;
}

a {
    text-decoration: none;
    color: #2E9CCA;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #29648A;
}

header {
    background-color: #2E9CCA;
    padding: 10px 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

header a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #2E9CCA;
    border-radius: 5px;
    width: calc(100% - 40px); /* Full width minus padding */
    box-sizing: border-box; /* Include padding in width calculation */
}

header a:hover {
    color: #fff; /* Keep the text color white on hover */
    background-color: #2E9CCA; /* Keep the background color the same */
}

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2E9CCA;
    margin-bottom: 20px;
    font-size: 28px;
}

p {
    margin-bottom: 20px;
    color: #464866;
    font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"] {
    width: 90%;
    max-width: 400px;
    padding: 12px 25px;
    background-color: #2E9CCA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"]:hover {
    background-color: #29648A;
}
